@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');
:root{
  --bodybg:#2C2C2C;
  --primarytextcolor: #fff;
  --secondarytextcolor: #111;
  --primarybuttoncolor:#d78d00;
  --secondarybuttoncolor:#fff;
}
*,html,::after,::before{ margin:0; padding:0; box-sizing: border-box;}
body { background:var(--bodybg); font-size:100%; color: var(--primarytextcolor); font-family: 'Noto Sans', sans-serif;}
#root{height:100vh;}
.outerBody{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.uploadBoxWrap{
  z-index: 989;
}
.uploadBoxPdfWrap{
  position: absolute;
    top: 9px;
    width: 140px;
    right: 10px;
    height: 43px;
    border-radius:30px;
    background-color: var(--primarybuttoncolor);
    cursor: pointer;
}
.uploadBoxImageWrap{
  position: absolute;
    top: 9px;
    width: 140px;
    right: 10px;
    height: 43px;
    border-radius:30px;
    background-color: var(--primarybuttoncolor);
    cursor: pointer;
}
.uploadBoxImageWrap .uploadImageIcons{ display: none;}
.uploadBoxImageWrap .uploadBoxImage{ background:none;border:0px;height: 100%;}
.uploadBoxImage:after {
  /* content: "Browse Image"; */
  font-size: 13px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: inherit;
    font-weight: 500;
}
.uploadBox{
  text-align: center;
}
.uploadBoxImage{
  background: rgb(248,249,250);
  border: 1px dashed #c0c0c0;
  border-radius: 8px;
  text-align: center;
}
.uploadIcons{
  display: inline-flex;
  height: 180px;
  padding-top: 16px;
  align-items: center;
}
.uploadImageIcons{
  display: inline-flex;
  height: 10px;
  padding-top: 16px;
  align-items: center;
}
.uploadIcon{
  margin-right: 18px;
}
.uploadText{
  line-height: 25px;
  cursor: pointer;
}
.uploadTextBlue{
  color: rgb(79 151 251);
}
.searchBox{
  z-index: 3;
  height: 44px;
  background: #efefef;
  border: 1px solid #242424;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  text-align: right;
  /* margin-top: 125px; */
  display: flex;
}

.searchBox::focus{box-shadow: 0px 0 4px 2px #222222;}
.searchBtn{
  height: 44px;
  width: 44px;
  background: transparent;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 0;
}
.searchIcon{
  background: none;
  color: #4285f4;
  height: 24px;
  width: 24px;
  margin: auto;
}
.searchIconSpan{
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}
.searchTextBox{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.inputSearchTextBox{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 34px;
  font-size: 16px;
  padding: 7px 6px 2px 21px;
  font-family: inherit;
  font-weight: 600;
}
.uploadForm{
  display: none;
}

.imageProcess input, .imageProcess button, .imageProcess select{
  
  width: 100%;
}
.imageProcess input[type="text"]{
  background-color:#111;
  color:#fff;
  padding:5px 10px;
  border: 0px;
  font-size: 15px;
  border-radius: 3px;
 border:1px solid #686868;
}
.imageProcess select{
  background-color:#111 ;
  font-size:15px;
  color:#fff;
  border-radius: 3px;
 border:1px solid #686868;
 padding:5px 10px;
}
.imagePreview{

}
.imageCanvas{
  border: 1px solid #f1f1f1;
  margin-top: 15px;
  border-radius: 5px;
  display: none;
  margin-bottom: 20px;
}

.searchTextWrap{
  color:var(--primarytextcolor);
  margin-bottom: 17px;
 
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchText{
  font-size: 35px;
  color: var(--primarytextcolor);

  
}
.searchTextImg{
  font-size: 28px;
  margin-right: 9px;
}
.folder{
  font-size: 48px;
  cursor: pointer;
}
.folderName{
  font-size: 12px;
}
.folderCol{ font-size: 0; aspect-ratio: 16/9;text-align: center;}
.folderColumn a{
  text-decoration: none;
  color: black;
}
.folderColumn a:hover{
  font-weight: bold;
  color: black;
}

.folderImages img{
  max-width: 100%;
  height:100%;
  aspect-ratio: 16/9;
  width: 100%;
}
.folderBreadcrumb{
  margin-bottom: 7px;
}
.footer{
  margin-bottom: 25px;
}
.showError{
  color: #fd3e3e;
  font-size: 12px;
}
.btAlertBox{
  margin-top: 15px;
}
.btAlertBox h3{ font-size:12px; padding-bottom: 5px;}
.cropperBoxWrapHide{
  opacity: 0;
  height: 0;
  z-index: -1;
  position: relative;
  visibility: hidden;
}
.navTabs{

}
.cropCheckBoxes{
  display: flex;
  flex-direction: column;
    flex-basis: 100px;
    flex-shrink: 0;
}
.checkbox{
  position: absolute;
  top:5px;
  left: 5px;
  display: flex;
    font-size: 13px;
    z-index:2;
}
.cropCheckBoxes .form-check{
  position: relative;
}
.checkBoxImage{
  max-width: 100%;
}
.cropCheckBoxes .form-check-inline{
  min-width: 100px;
}
.checkbox input[type="checkbox"]{-webkit-appearance: none;
  appearance: none;background-color:red;margin: 0;width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;display: grid;
  place-content: center; margin-right: 5px;}
  .checkbox input[type="checkbox"]::before {
    content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  /* Windows High Contrast Mode */
  background-color: #fff;
  }
  .checkbox input[type="checkbox"]:checked{background-color:green;}
.checkbox input[type="checkbox"]:checked::before {transform: scale(1);}

/* new css update */
.action__hero{ padding:10px;}
.action__hero .action__elem{ text-align: right; display: flex;
  justify-content: flex-end;}
.action__hero .action__elem a{ background-color: var(--primarybuttoncolor); color:#fff; font-size: 14px;
  display: flex;
  min-width: 130px;
  padding: 5px 13px;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;    border-radius: 30px; line-height:1.3;}
.action__hero .action__elem .upload_button{ background-color: var(--primarybuttoncolor); color:#fff; font-size: 14px;
  display: flex;
  min-width: 130px;
  padding: 5px 13px;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;    border-radius: 30px; line-height:1.3;border: 1px solid #ff9907; cursor: pointer;}
  .action__hero .action__elem .upload_button:not(:last-child){ margin-right:15px}
.action__hero .action__elem .upload_button > span.but__text{ display: block; font-weight:500;}
.action__hero .action__elem .upload_button > span.info__text{font-size:10px;}
.action__hero .action__elem .upload_button.search_button > span.but__text{ line-height: 0;}
.action__hero .action__elem .upload_button.search_button,.action__hero .action__elem .upload_button.back_button{ min-width:50px;}

.hp__searchbox{ height: 100%; padding-top: 50px; max-width:700px; margin:0 auto;min-width: 700px;}
.search__note{ font-size:13px; font-style: italic; color:#c5c5c5; line-height:1.3; padding:10px 20px 0; text-align: center;}

/* drag and upload page*/
.drag__upload__cont{ height: 100%; max-width:98%; margin:0 auto; padding-top:50px}
.wrap{ height: 100%;}
.uploadBoxWrap{ height: 100vh;}
.uploadBoxWrapHidden{ display: none;} .uploadBox{ height: 100%;display: grid;
  place-content: center; cursor: pointer;}

.upload__page .action__hero{position:absolute; width: 100%;}

/* cropper css */
.cropperBoxShow .cropper-modal{ background-color: var(--bodybg);}
.cropper__preview{ display: flex; overflow: hidden; max-height:555px;}
.cropper__preview .cropperBoxWrapper{ flex-basis:980px; flex-shrink:0; margin-right:15px;
  background-color: grey;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.2)), linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.2));
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
 
}

.next__stepbtn{
  display: none;
}
.next__stepbtn:hover{transform: scale(1.05);}

/* tabbing */
.navTabs ul{list-style: none; display: flex;}
.navTabs ul li a{color:#fff; text-decoration: none; background-color:#505050; padding:5px 12px; border-radius:3px 3px 0 0;display: block;}
.navTabs ul li:not(:last-child){margin-right: 15px;}
.cropCheckBox:hover:after{
  content:"Preview";
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  background-color: rgba(0,0,0,.5);
  display: grid;
    place-content: center;
    font-size: 14px;
    color: #fff;
}

.navTabs ul li a.active{ background-color:green;}

.imageProcessWrap{ width:205px;background-color: var(--bodybg);
   z-index:5; height:100vh; border-radius: 8px 0 0 8px; transition: right 0.5s linear; margin-left: 15px;}
  .imageProcessWrap .form-group{ margin-bottom: 10px;}
.imageProcessWrap.openBox{
    right:0px;
  }
  .button-set button{ position: relative;}
  .button-set button.disabled{cursor:auto;}
  .button-set button.disabled:after{content:""; position:absolute; width:0; height:100%; display:block; background-color:goldenrod; top:0; left:0; opacity:0.5; border-radius:3px; animation:loader 3s linear infinite;}
         @keyframes loader {
            0%{
               width:0%;
            }
            50%{
               width:50%;
            }
            100%{
               width:100%;
            }
         }
  .button-set button{
    background-color: var(--primarybuttoncolor);
    color:#fff;
    padding:10px 5px;
    text-align: center;
    font-size:18px;
    font-weight:700;
    border: 1px solid #ff9907;
    border-radius:5px;
    cursor: pointer;
    
  }
button.backbutn{ font-size: 14px;
  color: #fff;
  background-color: #000;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-bottom: 10px;
  float: right; cursor: pointer;}
  .cropper__preview .react-loading-skeleton{
    --base-color: #060606;
    --highlight-color: #1a1a1a;
  }

  .more-formgroup{ display:none;}
  .open-more-formgroup + .more-formgroup{ display: block;}
  .open-more{ margin-bottom:10px; position: relative; cursor: pointer;}
  .open-more::after{ content:""; height: 1px; width:calc(100% - 14px); line-height:0; background-color:#fff; position: absolute; top:50%; left: 0; transform: translateY(-50%);}
  .open-more::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    top: 10px;
    z-index: 2;
    right: 0;}
  .open-more span{ font-size:13px; position: relative; z-index: 1; background-color: var(--bodybg); padding-right: 5px;}

  .copyimge-url{ font-size:12px; display: flex; flex-wrap: wrap;align-items: center;}
  .copyimge-url:not(:last-child){ margin-bottom: 5px;}
  .originalurl{ white-space: nowrap; border:1px solid #686868; padding:5px; background-color:#111; border-radius: 3px; width:135px; overflow-x: auto; margin-left: 5px;}
  .originalurl::-webkit-scrollbar {
    height: 0;
  }
  .copyimge-url .svg-copy{margin-left: 5px;display: flex; cursor: pointer;}
  .copyimge-url .svg-copy svg{ width:28px; height:28px;}


  /* Search page */
  .folderImages{ display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap:15px; width: 97%;margin: 0 auto;}
  .searchbox__page{ width:97%; margin:20px auto 20px; display: flex; align-items: center;}
  .searchpage-logo svg{ width:35px; height:35px;}.searchpage-logo{ margin-right:10px;}
  .searchbox__page form{ flex:1 0 0;}


  .action__btn{ display: flex; justify-content:center; align-items: center; padding-top: 5px;}
  .action__btn span{ background-color:#000; width:48px; height:28px;     display: flex;
    justify-content: center; align-items: center; cursor: pointer; border-radius: 3px;}
    .action__btn span:not(:last-child){ margin-right:5px}
  .action__btn span svg{ width:22px; height: 22px; fill:#fff;}
  .textretio{ width:30px;}
  .folderImages img.pdficon{
  max-width: max-content;
    height: 100%;
    aspect-ratio: auto;
}
